#product-list{
    margin-top: 20px;
    display: flex;
    width: 100vw;
    height:100vh;
}


.product-list-left{
width: 15% ;
height: 100%;
border: 1px #fce300 solid;
border-radius: 5px;
background: rgb(215,215,215);
background: linear-gradient(90deg, rgba(215,215,215,0.5102415966386555) 100%, rgba(183,252,0,1) 100%);
margin-right: 5px;

}
.product-list-mid{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    width: 70%;
    height: 100%;
    border: 1px #fce300 solid;
    border-radius: 5px;
    margin-right: 5px;
    background: rgb(232,140,26);
    background: linear-gradient(90deg, rgba(232,140,26,0) 33%, rgba(238,221,14,0) 100%) !important;
}
.product-list-right{
    width: 15%;
    height: 100%;
    border: 1px #fce300 solid;
    border-radius: 5px;
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgba(215,215,215,0.5102415966386555) 100%, rgba(183,252,0,1) 100%);
}

/* !PRODUCT CARDS start */
#product-card{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.border{
  height: 290px;
  width: 270px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  display: flex;
  align-items: flex-end;
}
  .border:hover{
    border: 1px solid white;
}
.border h2{
    padding: 15px;
 
    font-size: bold;
}
.card{
  height: 300px;
  width: 280px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  /* box-shadow: 0 70px 63px -60px #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  

}
.card0{
  background: center center no-repeat;
  background-size: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  .card0:hover{
    background-size: 350px;
    transition: 1s;
}


.icons{
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 20px;
  /* top: 226px; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; 
} 
.icons button{
    width: 70px;
    height: 30px;
    background: rgb(152,147,147);
background: linear-gradient(90deg, rgba(152,147,147,0.4514180672268907) 100%, rgba(177,177,176,0.5186449579831933) 100%);
border: 1px white;
}
.icons button:hover{
    width: 80px;
    height: 35px;
    background: rgb(170,166,166);
background: linear-gradient(90deg, rgba(170,166,166,0.6811099439775911) 100%, rgba(177,177,176,0.7595413165266106) 100%);
border: 1px white;
font-size: bold;
;
}
.icons a:hover{
    color: white;
}
/* !PRODUCT CARDS end */

/* ! filter start */
.lsacetug_dolponaxed {
    background: #f5f2f2;
    width: 95%;
    box-shadow: 2px 2px 8px rgba(23, 22, 22, 0.1);
  padding: 5px;
  border-radius: 5px;
}
.lsacetug_dolponaxed h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.lsacetug_dolponaxed h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #6fad8a;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #6fad8a, 0 -8px #6fad8a, -8px 0 #6fad8a;
}
.lsacetug_dolponaxed ul {
  list-style: none;
  margin: 0;
  padding: 0;
     border-top: 1px solid rgba(95, 89, 89, 0.67);
}
.lsacetug_dolponaxed li {margin: 12px 0 0 0px;}
.lsacetug_dolponaxed a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: rgba(31, 30, 30, 0.64);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}
.lsacetug_dolponaxed a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.lsacetug_dolponaxed a:hover {
    background: #e6d70cda;
    color: #efecec;
}
/* ! filter end */