#product-list{
    margin-top: 20px;
    display: flex;
    width: 100vw;
    height: vh100;
}


.product-list-left{
    width: 20% ;
height: 100%;
border: 1px #fce300 solid;
border-radius: 5px;
background: rgb(215,215,215);
background: linear-gradient(90deg, rgba(215,215,215,0.5102415966386555) 100%, rgba(183,252,0,1) 100%);
margin-right: 5px;

}
.product-list-mid{
    width: 60%;
    height: 100%;
    border: 1px #fce300 solid;
    border-radius: 5px;
    margin-right: 5px;
    background: rgb(232,140,26);
    background: linear-gradient(90deg, rgba(232,140,26,0) 33%, rgba(238,221,14,0) 100%) !important;
}
.product-list-right{
    width: 20%;
    height: 100%;
    border: 1px #fce300 solid;
    border-radius: 5px;
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgba(215,215,215,0.5102415966386555) 100%, rgba(183,252,0,1) 100%);
}

/* ! ================= */

.product-card{
    margin-top: 50px;
    width: 250px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    align-items: flex-end;

}
.border{
    width: 240px;
    height: 290px;
    background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  border: 1px white;
}
.product-card:hover{
    width: 270px;
    height: 320px;
    transition: 0.5s;
    background-size: 150%;
}

.product-card:hover .product-list-card-btn{
    transition: 0.8s;
    display: block;
}
.product-list-card-btn{
    display: none;
    width: 70px;
    height: 30px;
    font-size: 18px;
background: rgb(152,147,147);
background: linear-gradient(90deg, rgba(152,147,147,0.4542191876750701) 100%, rgba(177,177,176,0.5186449579831933) 100%);
border-radius: 5px;

}