.footer{

    display: flex;
    flex-direction: column;
    color: white;
    /* background-image: url(../footer/wave\ \(4\).svg);
    background-repeat: no-repeat; */
    background-color: #fde718;
    width: 100vw;
    background-size: cover;
    margin-top: 100px;
    }
    
.footer-links{
display: flex;
justify-content: space-around;
color: white;
font-size: 18px;
width: 85vw;
}
.footer-links a{
    text-decoration: none;
    color: white;

}
.footer-links li{
list-style-type: none;

}
.footer-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.main-li a{
    font-size: 25px;
    color: black;
}
@media only screen and (max-width: 320){
.footer-links{
    display: flex;
    flex-wrap: wrap;
}
}








